<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<body>
    <nav th:fragment="menu">
        <h2>Menu</h2>

        <ul th:if="${currentRole == 'Quản lý'}">
            <li><a th:href="@{/home}">Dashboard</a></li>
            <li><a th:href="@{/profile}">Trang cá nhân</a></li>
            <li><a th:href="@{/employees}">Quản lý Nhân viên</a></li>
            <li><a href="#">Quản lý bán hàng</a></li>
            <li><a href="#">Quản lý trang thiết bị</a></li>
            <li><a href="#">Quản lý kho hàng</a></li>
            <li><a href="#">Quản lý thực đơn</a></li>
            <li><a href="#">Quản lý Marketing</a></li>
            <li><a href="#">Quản lý ngân sách</a></li>
            <li><a href="#">Quản lý dữ liệu</a></li>
            <li><a href="#">Thống kê, Báo cáo</a></li>
        </ul>

        <ul th:if="${currentRole != 'Quản lý'}">
            <li><a th:href="@{/home}">Dashboard</a></li>
            <li><a th:href="@{/profile}">Trang cá nhân</a></li>
            <li><a href="#">Quản lý bán hàng</a></li>

        </ul>

        <hr>
    </nav>
</body>
</html>
